In [1]:
"data encoding : Data encoding involves converting a sequence of text characters into binary code so computers, which operate using binary numbers, can process, store, or transmit that textual information"

'data encoding : Data encoding involves converting a sequence of text characters into binary code so computers, which operate using binary numbers, can process, store, or transmit that textual information'

In [2]:
"is it useful in data science for train our model and good output and good performance"

'is it useful in data science for train our model and good output and good performance'

In [3]:
"nominal encoding : it transform categrecial varible into numerical value and in this encoding no odering is requered. "

'nominal encoding : it transform categrecial varible into numerical value and in this encoding no odering is requered. '

In [4]:
# example for nominal encoding

In [5]:
import pandas as pd

In [6]:
df=pd.DataFrame({'colurs':['red', 'blue', 'green','red', 'blue', 'green']})

In [7]:
df

  colurs
0    red
1   blue
2  green
3    red
4   blue
5  green

In [8]:
from sklearn.preprocessing import OneHotEncoder

In [9]:
encode=OneHotEncoder()

In [16]:
encode.fit_transform(df[['colurs']])

<6x3 sparse matrix of type '<class 'numpy.float64'>'
	with 6 stored elements in Compressed Sparse Row format>

In [19]:
# array ki value bane k liye 
encoded=encode.fit_transform(df[['colurs']]).toarray()

In [20]:
df_nominal= pd.DataFrame(encoded,columns=encode.get_feature_names_out())

In [24]:
pd.concat([df,df_nominal],axis=1)

  colurs  colurs_blue  colurs_green  colurs_red
0    red          0.0           0.0         1.0
1   blue          1.0           0.0         0.0
2  green          0.0           1.0         0.0
3    red          0.0           0.0         1.0
4   blue          1.0           0.0         0.0
5  green          0.0           1.0         0.0

In [25]:
"i have a dataset containing categorical data with 5 unique values : we use nomial encoding "

'i have a dataset containing categorical data with 5 unique values : we use nomial encoding '