In [1]:
" the differnce  between ordinal and labeling data is  label encoding would not consider whether a variable is ordinal or not, but in the case of ordinal encoding, it will assign a sequence of numerical values as per the order of data.8 Nov 2023 "

' the differnce  between ordinal and labeling data is  label encoding would not consider whether a variable is ordinal or not, but in the case of ordinal encoding, it will assign a sequence of numerical values as per the order of data.8 Nov 2023 '

In [2]:
" target guide ordinal encoding : it is a technique used to emcode categorical data / variables based on the relationship with the target varibles"

' target guide ordinal encoding : it is a technique used to emcode categorical data / variables based on the relationship with the target varibles'

In [3]:
"This is the property of a function of maintaining its form when the variables are linearly transformed. Covariance is measured in units, which are calculated by multiplying the units of the two variables. Variance"

'This is the property of a function of maintaining its form when the variables are linearly transformed. Covariance is measured in units, which are calculated by multiplying the units of the two variables. Variance'

In [4]:
import pandas as pd

In [5]:
df=pd.DataFrame({'colur':['red','green', 'blue'],
                'size': ['small','medium','large'],
                'material':['wood','metal','plastic']})

In [6]:
df

   colur    size material
0    red   small     wood
1  green  medium    metal
2   blue   large  plastic

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
encoder=LabelEncoder()

In [12]:
encoder.fit_transform(df['material'])

array([2, 0, 1])

In [13]:
encoder.fit_transform(df['size'])

array([2, 1, 0])

In [14]:
encoder.fit_transform(df['colur'])

array([2, 1, 0])

In [15]:
# target guide ka example

In [16]:
import pandas as pd

In [17]:
df1=pd.DataFrame({'city':['newyork','paris','india','pakistan','paris','india'],
                 
                'price':[11,35,42,67,45,90]})

In [18]:
df1

       city  price
0   newyork     11
1     paris     35
2     india     42
3  pakistan     67
4     paris     45
5     india     90

In [24]:
df1.groupby('city')['price'].mean()

city
india       66.0
newyork     11.0
pakistan    67.0
paris       40.0
Name: price, dtype: float64

In [25]:
mean=df1.groupby('city')['price'].mean().to_dict

In [29]:
df1['city_encoded']=df1['city'].map(mean)

TypeError: unsupported type: <class 'str'>