In [1]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
data =[4, 8, 15, 16, 23,  42.]

In [4]:
df = pd.Series(data)

In [5]:
df

0     4.0
1     8.0
2    15.0
3    16.0
4    23.0
5    42.0
dtype: float64

In [6]:
type(df)

pandas.core.series.Series

In [7]:
varible = [1,3,5,"parth","mayank",928.783,4141,[7,8],"don",10]

In [8]:
df1 = pd.Series(varible)

In [9]:
df1

0          1
1          3
2          5
3      parth
4     mayank
5    928.783
6       4141
7     [7, 8]
8        don
9         10
dtype: object

In [10]:
data1 = [['Alice',25,"Female"] ,['Bob' ,30 , "male"],['Claire' , 27, "Female"]]

In [13]:
df2 = pd.DataFrame(data1, columns=["Name","Age","Gender"])

In [14]:
df2

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    male
2  Claire   27  Female

In [15]:
"DataFrame is a 2-dimensional labeled data structure with columns of potentially different types"

'DataFrame is a 2-dimensional labeled data structure with columns of potentially different types'

In [16]:
" some common function used in pandas data frame are  read_csv(), .head() , .tail() .,maim(), .dtypoes()"

' some common function used in pandas data frame are  read_csv(), .head() , .tail() .,maim(), .dtypoes()'

In [17]:
"dataframe is matuable"

'dataframe is matuable'